#scale{
    width: 150vw;
    overflow: auto;
}
#shell{
     background: url("../IMAGES/Background.jpg");
     background-repeat: no-repeat;
     position: relative;
     width:48%;   
     overflow: auto;
}
.resize{ 
    max-width: 200px; 
    max-height: 200px;
    float: left;
   overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.resize:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
#logoandport{
    list-style-type: none; 
}
#social{
    list-style-type: none;    
}
#social li img {
    width: 20%;
    margin:0;
    float:left;
    margin-right: 15%;
    margin-bottom: 10%;
    opacity: 0.5;
    filter: alpha(opacity=50);  
}
#social li img:hover {
    opacity: 1.0;
    filter: alpha(opacity=50);
}
#social {
    margin-top: 12%;
    margin-right : 10%;
}
.middle li{
    width: 35%;
    margin: 0 auto;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.middle form{
    width: 62%;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 10px 10px 5px #888888;
}
.middle h1{
   width: 29%;
    margin: 0 auto;
     font-size: 1em;
     margin-top: 5%;
     font-family: Arial, Helvetica, sans-serif;
}

.middle{
    display: block;
    width: 400px;
    height: 260px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    float: left;   
}
.logo{
    display: block;
    width: 400px;
    height: 260px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative; 
}
.socialogo{
    display: block;
    width: 400px;
    height: 260px;
    margin:0;
    padding:0;
    position: relative;
    float: left;   
}  
* {
    box-sizing: border-box;
}
#youtube{
    margin-left: 19%;  
}
@media only screen and (max-width: 360px) {
   #youtube{
       float: left;
   }
   #scale{
       width: 25vw;
   }
   #shell{
       width: 100%;
   }
@media only screen and (orientation: landscape) {
    #youtube{
        float: left;
    }
    #shell{
        width: 20%;
    }
}
@media only screen and (max-width: 768px) {
   #youtube{
       float: left;
   }
   #scale{
       width: 500px;
   }
